%h1
  = I18n.t(:show, scope: [:views, :screening], reference: @screening.reference)

#screenings-app

.card.double-gap-top#referral-information-card
  .card-header
    %span Referral Information
  .card-body
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.screening.incident_date')
        .c-gray
          = format_date(@screening.incident_date)
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.screening.incident_county')
        .c-gray
          = County::ALL[@screening.incident_county]
    .row.gap-top
      - address = @screening.address
      .col-md-6
        %label
          = t('activemodel.attributes.address.street_address')
        .c-gray
          = address.street_address
      .col-md-6
        %label
          = t('activemodel.attributes.address.city')
        .c-gray
          = address.city
    .row.gap-top
      .col-md-6
        %label
          = t('activemodel.attributes.address.state')
        .c-gray
          = USState::ABBREVIATION_NAME_MAP[address.state]
      .col-md-6
        %label
          = t('activemodel.attributes.address.zip')
        .c-gray
          = address.zip
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.screening.location_type')
        .c-gray
          = @screening.location_type
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.screening.response_time')
        .c-gray
          = ResponseTime::ALL[@screening.response_time]
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.screening.screening_decision')
        .c-gray
          = ScreeningDecision::ALL[@screening.screening_decision]

= link_to 'Home', root_path
= link_to 'Edit', edit_screening_path(@screening.id)
