.card.double-gap-top
  .card-header
    %span Profile Information
  .card-body
    .row
      .col-md-6
        %label.no-gap
        = t('activemodel.attributes.person.first_name')
        .c-gray
          = @person.first_name
      .col-md-6
        %label.no-gap-top-desktop
        = t('activemodel.attributes.person.last_name')
        .c-gray
          = @person.last_name
    .row.gap-top
      .col-md-6
        %label
        = t('activemodel.attributes.person.gender')
        .c-gray
          = @person.gender.camelize
    .row.gap-top
      .col-md-6
        %label
        = t('activemodel.attributes.person.date_of_birth')
        .c-gray
          = @person.date_of_birth
      .col-md-6
        %label
        = t('activemodel.attributes.person.ssn')
        .c-gray
          = @person.ssn
    .row.gap-top
      - address = @person.address
      .col-md-6
        %label
        = t('activemodel.attributes.address.street_address')
        .c-gray
          = address.street_address
      .col-md-6
        %label
        = t('activemodel.attributes.address.city')
        .c-gray
          = address.city
    .row.gap-top
      .col-md-6
        %label
        = t('activemodel.attributes.address.state')
        .c-gray
          = USState::ABBREVIATION_NAME_MAP[address.state]
      .col-md-6
        %label
        = t('activemodel.attributes.address.zip')
        .c-gray
          = address.zip

