%h1 Referral ##{@referral.reference}
.card.double-gap-top
  .card-header
    %span Referral Information
  .card-body
    .row
      .col-md-6
        %label.no-gap
          = t('activemodel.attributes.referral.name')
        .c-gray
          = @referral.name
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.referral.narrative')
        .c-gray
          = @referral.narrative
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.referral.involved_people')
        .c-gray
          %ul
            - @referral.involved_people && @referral.involved_people.each do |person|
              %li= "#{person.first_name} #{person.last_name}"
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.referral.method_of_referral')
        .c-gray
          = MethodOfReferral::ALL[@referral.method_of_referral]
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.referral.started_at')
        .c-gray
          = Time.zone.parse(@referral.started_at).strftime('%m/%d/%Y %I:%M %p') if @referral.started_at
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.referral.ended_at')
        .c-gray
          = Time.zone.parse(@referral.ended_at).strftime('%m/%d/%Y %I:%M %p') if @referral.ended_at
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.referral.incident_date')
        .c-gray
          = format_date(@referral.incident_date)
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.referral.incident_county')
        .c-gray
          = County::ALL[@referral.incident_county]
    .row.gap-top
      - address = @referral.address
      .col-md-6
        %label
          = t('activemodel.attributes.address.street_address')
        .c-gray
          = address.street_address
      .col-md-6
        %label
          = t('activemodel.attributes.address.city')
        .c-gray
          = address.city
    .row.gap-top
      .col-md-6
        %label
          = t('activemodel.attributes.address.state')
        .c-gray
          = USState::ABBREVIATION_NAME_MAP[address.state]
      .col-md-6
        %label
          = t('activemodel.attributes.address.zip')
        .c-gray
          = address.zip
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.referral.location_type')
        .c-gray
          = @referral.location_type
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.referral.response_time')
        .c-gray
          = ResponseTime::ALL[@referral.response_time]
    .row
      .col-md-6
        %label
          = t('activemodel.attributes.referral.screening_decision')
        .c-gray
          = ScreeningDecision::ALL[@referral.screening_decision]

= link_to 'Home', root_path
= link_to 'Edit', edit_referral_path(@referral)
