%meta{ charset: 'utf-8' }
%title
  = I18n.t :title
= stylesheet_link_tag gulp_asset_path('application.css')
= javascript_include_tag gulp_asset_path('vendor.js'), defer: true
= javascript_include_tag gulp_asset_path('application.js'), defer: true
= csrf_meta_tags
