!!!
%html
  %head
    = render 'layouts/head'
  %body
    .container-fluid.no-pad
      - Feature.with(:release_one) do
        #app-release-one= yield
      - Feature.without(:release_one) do
        #app= yield
    %footer
      = render 'layouts/footer'

    = javascript_pack_tag 'application'
