!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8',
      'http-equiv' => 'Content-Type' }/
    %title California Intake Frontend
    = stylesheet_link_tag gulp_asset_path('application.css'), defer: true
    = javascript_include_tag gulp_asset_path('vendor.js'), defer: true
    = javascript_include_tag gulp_asset_path('application.js'), defer: true
    = csrf_meta_tags
  %body.styleguide
    .container
      .col-md-3
        %nav
          %ul
            %li
              = link_to 'Colors', style_guide_path(:colors)
            %li
              = link_to 'Lists', style_guide_path(:lists)
            %li
              = link_to 'Forms', style_guide_path(:forms)
      .col-md-9
        = yield
