!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8',
      'http-equiv' => 'Content-Type' }/
    %title California Intake Frontend
    = stylesheet_link_tag gulp_asset_path('application.css'), defer: true
    = javascript_include_tag gulp_asset_path('vendor.js'), defer: true
    = javascript_include_tag gulp_asset_path('application.js'), defer: true
    = csrf_meta_tags
  %body.styleguide
    .container
      .col-md-3
        %nav
          %ul 
            %li
              = link_to 'Typography', style_guide_path(:typography)
            %li
              = link_to 'Colors', style_guide_path(:colors)
            %li
              = link_to 'Grid', 'http://getbootstrap.com/css/#grid', target: '_blank'
            %li
              = link_to 'Lists', style_guide_path(:lists)
            %li
              = link_to 'Borders', style_guide_path(:borders)
            %li
              = link_to 'Forms', style_guide_path(:forms)
            %li
              = link_to 'Icons', 'http://fontawesome.io/cheatsheet/', target: '_blank'
      .col-md-9
        = yield
